BasedOnStyle: Google
IndentWidth: 8
AlignAfterOpenBracket: BlockIndent
AccessModifierOffset: -8
AlignArrayOfStructures: Left
IndentCaseLabels: false
IndentCaseBlocks: true
ColumnLimit:     115
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
SpaceAfterCStyleCast: false
PointerAlignment: Right
ReferenceAlignment: Pointer
IndentGotoLabels: false
MaxEmptyLinesToKeep: 3
# 换行惩罚值
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakBeforeMemberAccess: 150
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakScopeResolution: 500
PenaltyBreakString: 1000000
PenaltyBreakTemplateDeclaration: 10
PenaltyIndentedWhitespace: 0
PenaltyReturnTypeOnItsOwnLine: 200
PenaltyExcessCharacter: 1000000